<ul>
    <li *ngFor="let meeting of meetings?.meetings">
        <accordion>
            <accordion-group heading="{{ meeting?.meetingName }}">
                Name: {{ meeting?.meetingName }} <br>
                Notes: {{ meeting?.notes }}<br>
                Location: {{ meeting?.location }}<br>
                Date: {{ meeting?.date }}<br>
                Friends: {{ meeting?.friends }}
                
            </accordion-group>
          </accordion>
      
      
    </li>
    <br>
  </ul>