<div *ngIf="auth.user$ | async as user">

    <div class="col-md-10 mx-auto">

        <div class="card-header text-center border-yellow">
            <h4>Friends</h4>

        </div>

        <div id="friends-main" class="card mx-auto ml-4 mr-4 border-yellow text-center p-4">
            <div class="card-body">
                <h3>Here are your friends, {{ user.name }} </h3>
                <br>

                <div class="row">

                    <div class="col col-md-6">
                        <div id="friends-list" class="card">
                            <div class="card-header">Friends</div>
                            <div class="card-body">
                                <app-user-friend-list></app-user-friend-list>
                            </div>

                        </div>
                    </div>

                    <div class="col col-md-6">
                        <div id="users-list" class="card">
                            <div class="card-header">Users</div>
                            <div class="card-body">
                                <div *ngFor="let user of users | async">
                                    <app-friends-list [(user)]="user" [(currentUser)]="currentUser"> </app-friends-list>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>