<div *ngIf="auth.user$ | async as user">

    <div class="col-md-10 mx-auto">

        <div class="card-header text-center border-yellow">
            <h4>Meetings</h4>

        </div>

        <div id="friends-main" class="card mx-auto ml-4 mr-4 border-yellow text-center p-4">
            <div class="card-body">
                <h3>Here are your meetings, {{ user.name }} </h3>

<br>
                <app-user-meeting-list></app-user-meeting-list>

                <div class="" id="friends-info">
                    <button *ngIf="!flag" class="btn btn-purple btn-info btn-md m-1" (click)="newMeeting()"
                        type="submit">New Meeting</button>

                    <div *ngIf="flag" class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-5">
                            <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">

                                <label>
                                    Name:
                                    <input type="text" formControlName="meetingName">
                                </label>

                                <label>
                                    Notes:
                                    <input type="text" formControlName="notes">
                                </label>
                                <label>
                                    Location:
                                    <input type="text" formControlName="location">
                                </label>
                                <label>
                                    Friends:
                                    <!-- <input type="text" formControlName="friends"> -->
                                    <select class="custom-select" formControlName="friends">
                                        <option value="" disabled>Choose your friend</option>
                                        <option *ngFor="let friend of friends" [value]="friend.id">
                                            {{ friend.name }}</option>
                                    </select>
                                </label>

                                <label>
                                    Date:
                                    <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date-Time" formControlName="date">
                                    <owl-date-time #dt1></owl-date-time>
                                </label>
                                
                                <div style="text-align: left">
                                    <button class="btn btn-purple btn-info btn-md m-1" type="submit">Add
                                        Meeting</button>
                                </div>
                            </form>
                        </div>

                    </div>
                     


                </div>

            </div>



            
        </div>
    </div>


</div>


  