<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div *ngIf="auth.user$ | async as user" class="card-header text-center border-yellow">
                <h4>{{ user.name }}'s Schedule</h4>

            </div>

            <div id="card-body" *ngIf="isCollapsed" class="card mx-auto ml-4 mr-4 border-yellow p-5">



                <div class="row">
                    <div class="col-md-8">
                        <div id="schedule" class="d-flex justify-content-left">
                            <ejs-schedule width='100%' height='550px'> </ejs-schedule>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div id="friends-list" class="card" style="width: 18rem;">
                            <div class="card-header">Friends</div>
                            <div class="card-body scroll">
                                <!-- <ul>
                                    <li> Joey </li>
                                    <li> Brandon </li>
                                    <li> Dean </li>
                                    <li> Chris </li>
                                    <li> Joey </li>
                                    <li> Brandon </li>
                                    <li> Dean </li>
                                    <li> Chris </li>
                                </ul> -->

                                <app-user-friend-list></app-user-friend-list>
                            </div>

                        </div>
                        <!-- FIX THIS -->
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>


                        <div id="meetings-list" class="card" style="width: 18rem;">

                            <div class="card-header">Meetings</div>
                            <div class="card-body scroll">LIST OF MEETINGS

                                <ul>
                                    <li> Meeting 1 </li>
                                    <li> Meeting 2 </li>
                                    <li> Meeting 3 </li>
                                    <li> Meeting 4</li>
                                    <li> Joey </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>