<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div *ngIf="auth.user$ | async as user" class="card-header text-center border-yellow">
                <h4>{{ user.name }}'s Schedule</h4>

            </div>

            <div id="card-body" *ngIf="isCollapsed" class="card mx-auto ml-4 mr-4 border-yellow p-5">


            </div>
        </div>
    </div>
    <div class="container bg-white p-2 border">
        <div class="row text-center mt-3">
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month">
                        Month
                    </div>
                    <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week">
                        Week
                    </div>
                    <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day">
                        Day
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div [ngSwitch]="view">
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-day-view>
        </div>
        <div class="align-right">
            <button class="btn btn-primary pull-right m-3" (click)="addEvent_Button()">
                Add new Event
            </button>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row mt-3">
        <div id="friends-list" class="card col m-3 text-center p-0" style="width: 18rem;">
            <div class="card-header text-center">Friends</div>
            <div class="card-body scroll">
                <app-user-friend-list></app-user-friend-list>
            </div>
        </div>
        <div id="meetings-list" class="card col m-3 text-center p-0" style="width: 18rem">
            <div class="card-header text-center">Meetings</div>
            <div class="card-body">
                <app-user-meeting-list></app-user-meeting-list>
            </div>
        </div>
    </div>

    <ng-template #modalAddEvent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Add an Event</h5>
            <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="newEventForm" (ngSubmit)="submitNewEvent(modalData?.event.id)" id="addEvent" class="form">
            <div class="modal-body">
                <input type="text" id="modaltitle" class="mb-3 ml-3 mr-2" placeholder="Title of Event" formControlName="title">
                <div class="row ml-3 mb-2 align-center">
                    Select a Color:
                </div>
                <div class="row" formGroupName="color">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-danger">
                                    <input [checked]="colorSelected(modalData?.event.color, 'red')" formControlName="color" value="red" type="radio" name="color" aria-label="Radio button for following text input">
                                </div>
                            </div>
                            <input type="text" value="Red" readonly class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-primary">
                                    <input [checked]="colorSelected(modalData?.event.color, 'blue')" formControlName="color" value="blue" type="radio" name="color" aria-label="Radio button for following text input">
                                </div>
                            </div>
                            <input type="text" value="Blue" readonly class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-warning">
                                    <input [checked]="colorSelected(modalData?.event.color, 'yellow')" formControlName="color" value="yellow" type="radio" name="color" aria-label="Radio button for following text input">
                                </div>
                            </div>
                            <input type="text" value="Yellow" readonly class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>
                </div>
                <div class="col mt-4">
                    <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start Date" formControlName="startDate">
                    <owl-date-time #dt1></owl-date-time>
                </div>
                <div class="col mt-3">
                    <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="End Date" formControlName="endDate">
                    <owl-date-time #dt2></owl-date-time>
                </div>
                <div class="col mt-3">
                    <input class="mr-2" type="checkbox" name="allDay" value="allDay" formControlName="allDay">All Day Event?
                </div>

                <div class="invalid-feedback" *ngIf="isSubmitted && !modalAddEvent.valid">
                    <p>Please select required values</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-secondary">
                    OK
                </button>
            </div>
        </form>
    </ng-template>
</div>