




    <div class="col-md-10 mx-auto">

        <div class="card-header text-center border-yellow">
            <h4>Schedule</h4>

        </div>

        <div id="account-info" *ngIf="isCollapsed" class="card mx-auto ml-4 mr-4 border-yellow text-center p-5">

            <h3>Welcome, {{ user.name }} </h3>
<img src = "https://i.kym-cdn.com/photos/images/original/000/372/510/c73.jpg" height="200px" width="200px"> 
            <img class="user-img-smaller rounded-circle card-img-top mx-auto mt-4" [src]="user.photoURL">
            <div class="" id="account-info">
                
            </div>
        </div>
    </div>
    

