<div class="profile">
  <div class="col col-md-12"> <img class="user-img-smaller rounded-circle card-img-top mx-auto mt-4" [src]="user.photoURL"> </div>
  <div class="col col-md-12"> <b>{{user.name}} </b>
    <br>
    <div *ngIf="isFriend; then unfriendButton; else friendButton">
    </div>
  </div>
  </div>
  
  <ng-template #friendButton>
    <button class="btn btn-purple btn-info btn-md m-1" (click)="toggleFriend()">Add Friend</button>
  </ng-template>
  
  <ng-template #unfriendButton>
    <button class="btn btn-purple btn-info btn-md m-1" (click)="toggleFriend()">Unfriend</button>
  </ng-template>
