/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

body {
    min-height: 75rem;
    padding-top: 4rem;
    background-color: #fff3fc;
}

.btn-purple {
    color: #fff;
    background-color: #c295dd;
    border-color: #634f70;
}

.btn-purple:hover {
    background-color: #3f125c
}

.border-bottom-yellow {
    border-bottom: 1px solid #d1d099;
}

.border-yellow {
    border: 1px solid #d1d099;
}

.text-purple {
    color: #3f125c !important;
}

a:hover {
    cursor: pointer;
}

.header-divider {
    width: 90%;
    background: transparent url(//ddoie2e1uy9qo.cloudfront.net/images/Divider-Tablet.png) no-repeat 50%;
    height: 2px;
}

.header-text {
    font-weight: 300;
    font-size: 40px;
    color: #bba064;
}

.bg-pink{
    background-color:#fff3fc;

}