<div *ngIf="auth.user$ | async; then authenticated else guest"></div>

<!-- logged out -->
<ng-template #guest>
<div class="card mx-auto ml-4 mr-4 border-gold text-center p-5">
    <h3>Welcome to Study App</h3>
<h5 class="mb-5 mt-4">Login to get started...</h5>

<button (click)="auth.googleSignin()">
    <i class="fa fa-google"></i> Login with Google
</button>
</div>
</ng-template>


<!-- logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user$ | async as user">
    <h3>Hey, {{ user.name }}   </h3> <button (click)="auth.signOut()">Logout</button>
    <br> 
    Profile Picture: <img  height="100px" width="100px" [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <p>email: {{ user.email }}</p>
    <p>school: {{ user.school}}</p>
    
</div>
</ng-template>